<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Post</title>
        <link rel="icon" href="../images/logo.svg">
        <link
        rel="stylesheet" href="../styles/index.css">
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    </head>
    <body>
        <header class="header">
            <div class="header-container">
                <div class="header_logo">
                    <a href="../layout/index.html"><img src="../images/logo.svg" alt="logo"></a>
                </div>
                <nav class="header_navbar">
                    <ul>
                        <li class="header_navbar__item">
                            <a href="../layout/news.html">Новости</a>
                        </li>
                        <li class="header_navbar__item">
                            <a href="#">Статьи</a>
                        </li>
                        <li class="header_navbar__item">
                            <a href="#">Подкасты</a>
                        </li>
                        <li class="header_navbar__item">
                            <a href="#">Тесты</a>
                        </li>
                        <li class="header_navbar__item">
                            <a href="#">Видео</a>
                        </li>
                        <li class="header_navbar__item uzb">
                            <a href="#">O`zbekcha</a>
                        </li>
                    </ul>
                </nav>
                <div class="header_links">
                    <ul>
                        <li class="header_link__item">
                            <a href="#"><img src="../images/ic_telegram.svg" alt="telegram"></a>
                        </li>
                        <li class="header_link__item">
                            <a href="#"><img src="../images/ic_facebook.svg" alt="face"></a>
                        </li>
                        <li class="header_link__item">
                            <a href="#"><img src="../images//ic_instagram.svg" alt="insta"></a>
                        </li>
                        <li class="header_link__item">
                            <a href="#"><img src="../images/ic_youtube.svg" alt="utube"></a>
                        </li>
                        <li class="header_link__item">
                            <a href="#"><img src="../images/ic_vkontakte.svg" alt="vk"></a>
                        </li>
                        <li class="header_link__item">
                            <a href="#"><img src="../images/ic_tik-tok.svg" alt="tiktok"></a>
                        </li>
                    </ul>
                </div>
                <div
                    id="myNav" class="overlay">

                    <!-- Button to close the overlay navigation -->
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                    <!-- Overlay content -->
                    <div class="overlay-content">
                        <a href="../layout/news.html">Новости</a>
                        <a href="#">Статьи</a>
                        <a href="#">Подкасты</a>
                        <a href="#">Видео</a>
                    </div>

                </div>

                <!-- Use any element to open/show the overlay navigation menu -->
                <span onclick="openNav()"><img class="burg" src="../images/6351903_burger_list_menu_navigation_icon.svg" alt="da"></span>
            </div>
        </header>

        <div class="topbar-news">
            <div class="topbar_news__container">
                <div class="topbar_news__left">
                    <div class="link">
                        <a href="#"><img src="../images/ic_arrow-up-right.svg" alt="roptightarrow"></a>
                    </div>
                    <div class="topbar_news__lefttext">
                        <div class="topbar_category">
                            <a href="#">Музыка</a>
                        </div>
                        <div class="topbar_title">
                            <a href="#">Выставка плакатов</a>
                        </div>
                        <div class="topbar_subtitle">
                            <a href="#">Впервые в Узбекистане</a>
                        </div>
                    </div>
                </div>
                <div class="topbar_news__right">
                    <div class="topbar_right__top">
                        <div class="link">
                            <a href="#"><img src="../images/ic_arrow-up-right.svg" alt="roptightarrow"></a>
                        </div>
                        <div class="topbar_news__lefttext">
                            <div class="topbar_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="topbar_title">
                                <a href="#">Выставка плакатов</a>
                            </div>
                            <div class="topbar_subtitle">
                                <a href="#">Впервые в Узбекистане</a>
                            </div>
                        </div>
                    </div>
                    <div class="topbar_right__bottom">
                        <div class="link">
                            <a href="#"><img src="../images/ic_arrow-up-right.svg" alt="roptightarrow"></a>
                        </div>
                        <div class="topbar_news__lefttext">
                            <div class="topbar_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="topbar_title">
                                <a href="#">Выставка плакатов</a>
                            </div>
                            <div class="topbar_subtitle">
                                <a href="#">Впервые в Узбекистане</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="running_line">
            <div class="running_line__text">
                Задача организации, в особенности же реализация намеченных плановых заданий однозначно фиксирует необходимость инновационных методов управления процессами необходимость инновационных методов управления процессами.
            </div>
        </div>

        <div class="hot_news">
            <div class="hot_news__container">
                <div class="hot_news__header">
                    <div class="hot_news__header--title">
                        Горячие новости
                    </div>
                    <div class="hot_news__header--refresh">
                        <a href="#">Обновить новости</a>
                        <a href="#"><img src="../images/ic_refresh button.svg" alt="refresh"></a>
                    </div>
                </div>
                <div class="hot_news__content">
                    <div class="hot_news__item">
                        <div class="hot_news__item--content">
                            <div class="hot_item__image">
                                <a href="#"><img src="../images/img.png" alt="img"></a>
                            </div>
                            <div class="hot_item__date">
                                <div class="date_number">22.10.2021</div>
                                <div class="date_time">20:05</div>
                            </div>
                            <div class="hot_item__title">
                                <a href="#">
                                    <h3>Прототип нового сервиса - это как глас грядущего поколения</h3>
                                </a>
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                        </div>
                    </div>
                    <div class="hot_news__item">
                        <div class="hot_news__item--content">
                            <a href="#"><img class="link" src="../images/arrow.svg" alt="arrow"></a>
                            <div class="hot_item_title-centered">
                                Не следует забывать, что цены на бензин начинают падать
                            </div>
                            <div class="hot_item_date-centered">
                                <div class="hotdate_number">20.10.2021</div>
                                <div class="hotdate_time">20:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="hot_news__item">
                        <div class="hot_news__item--content">
                            <div class="hot_item__image">
                                <a href="#"><img src="../images/img.png" alt="img"></a>
                            </div>
                            <div class="hot_item__date">
                                <div class="date_number">22.10.2021</div>
                                <div class="date_time">20:05</div>
                            </div>
                            <div class="hot_item__title">
                                <a href="#">
                                    <h3>Прототип нового сервиса - это как глас грядущего поколения</h3>
                                </a>
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                        </div>
                    </div>
                    <div class="hot_news__item">
                        <div class="hot_news__item--content">
                            <a href="#"><img class="link" src="../images/arrow.svg" alt="arrow"></a>
                            <div class="hot_item_title-centered">
                                Не следует забывать, что цены на бензин начинают падать
                            </div>
                            <div class="hot_item_date-centered">
                                <div class="hotdate_number">20.10.2021</div>
                                <div class="hotdate_time">20:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="hot_news__item">
                        <div class="hot_news__item--content">
                            <div class="hot_item__image">
                                <a href="#"><img src="../images/img.png" alt="img"></a>
                            </div>
                            <div class="hot_item__date">
                                <div class="date_number">22.10.2021</div>
                                <div class="date_time">20:05</div>
                            </div>
                            <div class="hot_item__title">
                                <a href="#">
                                    <h3>Прототип нового сервиса - это как глас грядущего поколения</h3>
                                </a>
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                        </div>
                    </div>
                    <div class="hot_news__item">
                        <div class="hot_news__item--content">
                            <a href="#"><img class="link" src="../images/arrow.svg" alt="arrow"></a>
                            <div class="hot_item_title-centered">
                                Не следует забывать, что цены на бензин начинают падать
                            </div>
                            <div class="hot_item_date-centered">
                                <div class="hotdate_number">20.10.2021</div>
                                <div class="hotdate_time">20:00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="states">
            <div class="states-container">
                <div class="state_title">
                    CТАТЬИ
                </div>
                <div class="states_content">
                    <div class="state__item">
                        <div class="state_img">
                            <a href="#"><img src="../images/topimg5.png" alt="topimg333"></a>
                            <div class="state_date">
                                <div class="state_date__number">20.10.2021</div>
                                <div class="state_date__time">20:00</div>
                            </div>
                        </div>
                        <div class="state_text">
                            <div class="state_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="states_title">
                                <a href="#">Никте не вправе осуждать ласковый перезвон вертикали</a>
                            </div>
                            <div class="state_subtitle">
                                Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической ...
                            </div>
                            <div class="state_look">
                                <img src="../images/2561430_eye_icon.svg" alt="eye">
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="state__item">
                        <div class="state_img">
                            <a href="#"><img src="../images/topimg5.png" alt="topimg333"></a>
                            <div class="state_date">
                                <div class="state_date__number">20.10.2021</div>
                                <div class="state_date__time">20:00</div>
                            </div>
                        </div>
                        <div class="state_text">
                            <div class="state_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="states_title">
                                <a href="#">Никте не вправе осуждать ласковый перезвон вертикали</a>
                            </div>
                            <div class="state_subtitle">
                                Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической ...
                            </div>
                            <div class="state_look">
                                <img src="../images/2561430_eye_icon.svg" alt="eye">
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="state__item">
                        <div class="state_img">
                            <a href="#"><img src="../images/topimg5.png" alt="topimg333"></a>
                            <div class="state_date">
                                <div class="state_date__number">20.10.2021</div>
                                <div class="state_date__time">20:00</div>
                            </div>
                        </div>
                        <div class="state_text">
                            <div class="state_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="states_title">
                                <a href="#">Никте не вправе осуждать ласковый перезвон вертикали</a>
                            </div>
                            <div class="state_subtitle">
                                Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической ...
                            </div>
                            <div class="state_look">
                                <img src="../images/2561430_eye_icon.svg" alt="eye">
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="state__item">
                        <div class="state_img">
                            <a href="#"><img src="../images/topimg5.png" alt="topimg333"></a>
                            <div class="state_date">
                                <div class="state_date__number">20.10.2021</div>
                                <div class="state_date__time">20:00</div>
                            </div>
                        </div>
                        <div class="state_text">
                            <div class="state_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="states_title">
                                <a href="#">Никте не вправе осуждать ласковый перезвон вертикали</a>
                            </div>
                            <div class="state_subtitle">
                                Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической ...
                            </div>
                            <div class="state_look">
                                <img src="../images/2561430_eye_icon.svg" alt="eye">
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="state__item">
                        <div class="state_img">
                            <a href="#"><img src="../images/topimg5.png" alt="topimg333"></a>
                            <div class="state_date">
                                <div class="state_date__number">20.10.2021</div>
                                <div class="state_date__time">20:00</div>
                            </div>
                        </div>
                        <div class="state_text">
                            <div class="state_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="states_title">
                                <a href="#">Никте не вправе осуждать ласковый перезвон вертикали</a>
                            </div>
                            <div class="state_subtitle">
                                Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической ...
                            </div>
                            <div class="state_look">
                                <img src="../images/2561430_eye_icon.svg" alt="eye">
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                    <div class="state__item">
                        <div class="state_img">
                            <a href="#"><img src="../images/topimg5.png" alt="topimg333"></a>
                            <div class="state_date">
                                <div class="state_date__number">20.10.2021</div>
                                <div class="state_date__time">20:00</div>
                            </div>
                        </div>
                        <div class="state_text">
                            <div class="state_category">
                                <a href="#">Музыка</a>
                            </div>
                            <div class="states_title">
                                <a href="#">Никте не вправе осуждать ласковый перезвон вертикали</a>
                            </div>
                            <div class="state_subtitle">
                                Разнообразный и богатый опыт говорит нам, что экономическая повестка сегодняшнего дня позволяет оценить значение экономической ...
                            </div>
                            <div class="state_look">
                                <img src="../images/2561430_eye_icon.svg" alt="eye">
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="best_state">
            <div class="best_state__container">
                <div class="best_state_preText">
                    <div class="preText_title">
                        Лучшая статья
                    </div>
                    <div class="preText_subtitle">
                        Лишь акционеры крупнейших существующая теория С другой стороны, существующая теория компаний являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали.
                    </div>
                </div>
                <div class="other">
                    <div class="best_state_video">
                        <iframe width="600" height="600" src="https://www.youtube.com/embed/SiLVhVZKaOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="best_state_text">
                        <div class="besttext_title">
                            Нашу победу сопровождал гитарный перебор
                        </div>
                        <div class="besttext_subtitle">
                            С другой стороны, существующая теория требует анализа укрепления моральных ценностей. Учитывая ключевые сценарии поведения, понимание сути ресурсосберегающих технологий напрямую зависит от модели развития.
                        </div>
                        <button class="best_btn">
                            <a href="#">Читать статью</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="videos">
            <div class="videos_container">
                <div class="videos_topbar">
                    <div class="videos_title">
                        ВИДЕО
                    </div>
                    <button class="video_btn">
                        <a href="#">Cмотреть ещё</a>
                    </button>
                </div>
                <div class="video_content">
                    <div class="video__item">
                        <div class="video_image">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/hzpt3fQjY9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video_title">
                            Средства индивидуальной защиты оказались бесполезны
                        </div>
                    </div>
                    <div class="video__item">
                        <div class="video_image">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/hzpt3fQjY9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video_title">
                            Средства индивидуальной защиты оказались бесполезны
                        </div>
                    </div>
                    <div class="video__item">
                        <div class="video_image">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/hzpt3fQjY9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video_title">
                            Средства индивидуальной защиты оказались бесполезны
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="podcast">
            <div class="podcast_container">
                <div class="podcast_header">
                    <div class="podcast_title">
                        ПОДКАСТЫ
                    </div>
                    <button class="podcast_btn">
                        <a href="#">Перейти к подкасту</a>
                    </button>
                </div>
                <div class="podcast_content">
                    <div class="podcast_image">
                        <a href="#"><img src="../images/Rectangle 344.png" alt="topimg3"></a>
                    </div>
                    <div class="podcast_text">
                        <div class="podcast_text-title">
                            Бежать
                        </div>
                        <div class="podcast_text-author">
                            Автор: Абадихин Игорь & Студия Main post
                        </div>
                        <div class="podcast_text-subtitle">
                            Это подкаст о мире, где беженцев сегодня больше, чем во времена Второй мировой. И о людях, которые ищут в этом мире пристанище. В каждом эпизоде мы рассказываем историю очередного беглеца. Кто-то сбежал от гражданской войны в Европу. Кто-то — из Европы в Россию. А кто-то уехал из России, потому что не смог обрести здесь дом.
                        </div>
                        <div class="podcast_text-links">
                            <div class="links_title">
                                Доступно на:
                            </div>
                            <div class="links">
                                <div class="link_item">
                                    <a href="#"><img src="../images/icon_add 1 (1).svg" alt="da"></a>
                                </div>
                                <div class="link_item">
                                    <a href="#"><img src="../images/image 1.png" alt="da"></a>
                                </div>
                                <div class="link_item">
                                    <a href="#"><img src="../images/image 2.png" alt="da"></a>
                                </div>
                                <div class="link_item">
                                    <a href="#"><img src="../images/image 3.png" alt="da"></a>
                                </div>
                            </div>
                        </div>
                        <div class="audio">
                            <div class="audio_episode">
                                Эпизод 1: Архипелаг
                            </div>
                            <audio controls src="../audios/Mr.Kitty - After Dark.mp3"></audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tests">
            <div class="tests_container">
                <div class="tests_title">
                    ТЕСТЫ
                </div>
                <div class="swiper mySwiper" style="margin-top: 50px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="test_item">
                                <div class="test_item_left">
                                    <a href="#"><img src="../images/Rectangle 318.png" alt="da"></a>
                                </div>
                                <div class="test_item_right">
                                    <div class="test_right_title">
                                        Есть над чем задуматься: частокол на границе починят!
                                    </div>
                                    <div class="test_right_subtitle">
                                        Как принято считать, предста Как принято считать, представ Как принято считать, представители современных социальных резервов формируют глобальную экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                                    </div>
                                    <div href="#" class="passTest">
                                        <a href="#">Пройти тест</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="test_item">
                                <div class="test_item_left">
                                    <a href="#"><img src="../images/Rectangle 318.png" alt="da"></a>
                                </div>
                                <div class="test_item_right">
                                    <div class="test_right_title">
                                        Есть над чем задуматься: частокол на границе починят!
                                    </div>
                                    <div class="test_right_subtitle">
                                        Как принято считать, предста Как принято считать, представ Как принято считать, представители современных социальных резервов формируют глобальную экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                                    </div>
                                    <div href="#" class="passTest">
                                        <a href="#">Пройти тест</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="test_item">
                                <div class="test_item_left">
                                    <a href="#"><img src="../images/Rectangle 318.png" alt="da"></a>
                                </div>
                                <div class="test_item_right">
                                    <div class="test_right_title">
                                        Есть над чем задуматься: частокол на границе починят!
                                    </div>
                                    <div class="test_right_subtitle">
                                        Как принято считать, предста Как принято считать, представ Как принято считать, представители современных социальных резервов формируют глобальную экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                                    </div>
                                    <div href="#" class="passTest">
                                        <a href="#">Пройти тест</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="test_item">
                                <div class="test_item_left">
                                    <a href="#"><img src="../images/Rectangle 318.png" alt="da"></a>
                                </div>
                                <div class="test_item_right">
                                    <div class="test_right_title">
                                        Есть над чем задуматься: частокол на границе починят!
                                    </div>
                                    <div class="test_right_subtitle">
                                        Как принято считать, предста Как принято считать, представ Как принято считать, представители современных социальных резервов формируют глобальную экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                                    </div>
                                    <div href="#" class="passTest">
                                        <a href="#">Пройти тест</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="test_item">
                                <div class="test_item_left">
                                    <a href="#"><img src="../images/Rectangle 318.png" alt="da"></a>
                                </div>
                                <div class="test_item_right">
                                    <div class="test_right_title">
                                        Есть над чем задуматься: частокол на границе починят!
                                    </div>
                                    <div class="test_right_subtitle">
                                        Как принято считать, предста Как принято считать, представ Как принято считать, представители современных социальных резервов формируют глобальную экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                                    </div>
                                    <div href="#" class="passTest">
                                        <a href="#">Пройти тест</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="test_item">
                                <div class="test_item_left">
                                    <a href="#"><img src="../images/Rectangle 318.png" alt="da"></a>
                                </div>
                                <div class="test_item_right">
                                    <div class="test_right_title">
                                        Есть над чем задуматься: частокол на границе починят!
                                    </div>
                                    <div class="test_right_subtitle">
                                        Как принято считать, предста Как принято считать, представ Как принято считать, представители современных социальных резервов формируют глобальную экономическую сеть и при этом -  заблокированы в рамках своих собственных рациональных ограничений.
                                    </div>
                                    <div href="#" class="passTest">
                                        <a href="#">Пройти тест</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="color: black;" class="swiper-button-next"></div>
                    <div style="color: black;" class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

        <div class="redact">
            <div class="redact-container">
                <div class="redact--title">
                    ВЫБОР РЕДАКЦИИ
                </div>
                <div class="redact--content">
                    <div class="content_item">
                        <div class="content_item__image">
                            <a href="#"><img src="../images/topimg.png" alt="hasesh"></a>
                        </div>
                        <div class="content_item__text">
                            <div class="content_item__text--date">05 Апр., 2021</div>
                            <div class="content_item__text--title">
                                <a href="#">«Хотелось убить собственного ребёнка»: три истории о послеродовой депрессии</a>
                            </div>
                            <div class="content_item__text--subtitle">Но перспективное планирование предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Как принято считать, сторонники тоталитаризма в науке лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</div>
                        </div>
                        <div class="content_links">
                            <div class="content_link__top">
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                            <div class="content_link__bottom">
                                <a href="#">Развитие</a>
                            </div>
                        </div>
                    </div>
                    <div class="content_item">
                        <div class="content_item__image">
                            <a href="#"><img src="../images/topimg.png" alt="hasesh"></a>
                        </div>
                        <div class="content_item__text">
                            <div class="content_item__text--date">05 Апр., 2021</div>
                            <div class="content_item__text--title">
                                <a href="#">«Хотелось убить собственного ребёнка»: три истории о послеродовой депрессии</a>
                            </div>
                            <div class="content_item__text--subtitle">Но перспективное планирование предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Как принято считать, сторонники тоталитаризма в науке лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</div>
                        </div>
                        <div class="content_links">
                            <div class="content_link__top">
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                            <div class="content_link__bottom">
                                <a href="#">Развитие</a>
                            </div>
                        </div>
                    </div>
                    <div class="content_item">
                        <div class="content_item__image">
                            <a href="#"><img src="../images/topimg.png" alt="hasesh"></a>
                        </div>
                        <div class="content_item__text">
                            <div class="content_item__text--date">05 Апр., 2021</div>
                            <div class="content_item__text--title">
                                <a href="#">«Хотелось убить собственного ребёнка»: три истории о послеродовой депрессии</a>
                            </div>
                            <div class="content_item__text--subtitle">Но перспективное планирование предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Как принято считать, сторонники тоталитаризма в науке лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</div>
                        </div>
                        <div class="content_links">
                            <div class="content_link__top">
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                            <div class="content_link__bottom">
                                <a href="#">Развитие</a>
                            </div>
                        </div>
                    </div>
                    <div class="content_item">
                        <div class="content_item__image">
                            <a href="#"><img src="../images/topimg.png" alt="hasesh"></a>
                        </div>
                        <div class="content_item__text">
                            <div class="content_item__text--date">05 Апр., 2021</div>
                            <div class="content_item__text--title">
                                <a href="#">«Хотелось убить собственного ребёнка»: три истории о послеродовой депрессии</a>
                            </div>
                            <div class="content_item__text--subtitle">Но перспективное планирование предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Как принято считать, сторонники тоталитаризма в науке лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</div>
                        </div>
                        <div class="content_links">
                            <div class="content_link__top">
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                            <div class="content_link__bottom">
                                <a href="#">Развитие</a>
                            </div>
                        </div>
                    </div>
                    <div class="content_item">
                        <div class="content_item__image">
                            <a href="#"><img src="../images/topimg.png" alt="hasesh"></a>
                        </div>
                        <div class="content_item__text">
                            <div class="content_item__text--date">05 Апр., 2021</div>
                            <div class="content_item__text--title">
                                <a href="#">«Хотелось убить собственного ребёнка»: три истории о послеродовой депрессии</a>
                            </div>
                            <div class="content_item__text--subtitle">Но перспективное планирование предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Как принято считать, сторонники тоталитаризма в науке лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</div>
                        </div>
                        <div class="content_links">
                            <div class="content_link__top">
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                            <div class="content_link__bottom">
                                <a href="#">Развитие</a>
                            </div>
                        </div>
                    </div>
                    <div class="content_item">
                        <div class="content_item__image">
                            <a href="#"><img src="../images/topimg.png" alt="hasesh"></a>
                        </div>
                        <div class="content_item__text">
                            <div class="content_item__text--date">05 Апр., 2021</div>
                            <div class="content_item__text--title">
                                <a href="#">«Хотелось убить собственного ребёнка»: три истории о послеродовой депрессии</a>
                            </div>
                            <div class="content_item__text--subtitle">Но перспективное планирование предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Как принято считать, сторонники тоталитаризма в науке лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности.</div>
                        </div>
                        <div class="content_links">
                            <div class="content_link__top">
                                <a href="#"><img src="../images/arrow.svg" alt="arrow"></a>
                            </div>
                            <div class="content_link__bottom">
                                <a href="#">Развитие</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="footer_container">
                <div class="left_side"></div>
                <div class="right_side">
                    <div class="top_cont">
                        <div class="item">
                            <div class="footer_right_elem_content">
                                <a href="#">
                                    <h2>Разделы</h2>
                                </a>
                                <a href="#">
                                    <h3>Авторы</h3>
                                </a>
                                <a href="#">
                                    <h3>Реклама</h3>
                                </a>
                                <a href="#">
                                    <h3>Контакты</h3>
                                </a>
                            </div>
                        </div>
                        <div class="item2">
                            <div class="footer_right_elem_content">
                                <h2>
                                    <strong>Пишите нам:</strong>
                                </h2>
                                <h3>
                                    По всем вопросам:
                                    <a href="#">
                                        <strong>Mainpostwork@gmail.com</strong>
                                    </a>
                                </h3>
                                <h3>
                                    По поводу родкастов:
                                    <a href="#">
                                        <strong>Mainpostwork@gmail.com</strong>
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="item3">
                            <div class="footer_third_item">
                                <div class="footer_third_form_content">
                                    <h2 class="h2_right_foot">Подписка на бесплатную рассылку</h2>
                                    <form action="#" class="registration__form">
                                        <input maxlength="25" type="text" placeholder="Email"/>
                                        <button class="subscribe" href="#">
                                            <a href="#">
                                                <h4>Подписаться</h4>
                                            </a>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="footer_down">
                                <div class="footer_third_title">
                                    <h3>Мы в соц сетях:</h3>
                                </div>
                                <div class="footer_third__links">
                                    <a href="#"><img class="footer__link" src="../images/ic_telegram.svg" alt="teleg"/></a>
                                    <a href="#"><img class="footer__link" src="../images/ic_instagram.svg" alt="inst"/></a>
                                    <a href="#"><img class="footer__link" src="../images/ic_facebook.svg" alt="face"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_cont">
                        <div class="footer_bottom__content">
                            <h3 class="logo_foot">
                                © 2021 - 2022. Новостной сайт «Main post». Все права защищены
                            </h3>
                            <h3 class="logo_foot">
                                Разработано командой «UX IT»
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            function openNav() {
                document.getElementById("myNav").style.height = "100%";
            }

            /* Close when someone clicks on the "x" symbol inside the overlay */
            function closeNav() {
                document.getElementById("myNav").style.height = "0%";
                document.body.style.overflowY = 'scroll'
            }
        </script>
        <script src="../scripts/script.js"></script>
        <script>
            var swiper = new Swiper(".mySwiper", {
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                }
            });
        </script>
    </body>
</html>
